/* Start coding here */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"inter" ;
    width: 100%;
    min-height: 100vh; /* ให้เว็บเต็มหน้าจอเสมอ */
    box-sizing: border-box;
    background-color: #F6F6FB; /* กำหนดสีพื้นหลัง */
    overflow-x: hidden; /* ป้องกันการเลื่อนแนวนอน */
}
.inter {
    font-family: "inter", serif;
    font-optical-sizing: auto;
    font-weight: 5;
    font-style: normal;
  }
.feat-card{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    align-items: center;
    padding: 120px 120px 140px 120px;
}
.card-workflow , .card-performance,.card-interface{
    display: flex;
    flex-direction: column;
    width: 387px;
    height: 272px;
    border-radius: 24px;
    padding: 28px;
    
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
}
.card-workflow{
    background: #D7E5F6;
    
}
.card-performance{
    background: #D8E0FC;

}
.card-interface{
    background: #E8DCF6;
}
.icon-1,.icon-2,.icon-3{
    width: 60px;
    height: 60px;
    border-radius: 16px;
}

    
a {
    text-decoration: none; /* ไม่ให้ข้อความลิงก์มีเส้นขีด */
    color: inherit; /* ลิงก์ใช้สีเดียวกับข้อความ */
}

    .homepage-header {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: sans-serif;
        height: 70px;
        max-width: 1200px;
        width: 85%;
        margin: 0 auto;
        margin-top: 15px;
        background-color: #FFFFFF;
        padding: 0 7%;
        border-radius: 40px;
    }

        .logo-icon {
            width: 80px;
        }

        .homepage-nav {
            display: flex;
            gap: 40px;
            font-size: 16px;
        }

        .hero-banner {
            display: flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            max-width: 1200px;
            width: 90%;
            margin: 0 auto; 
        }

            .hero-banner h6 {
                font-family: sans-serif;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: #5E44FF;   
                background: rgba(86, 58, 255, 0.1);
                border-radius: 999px;
                padding: 15px;
                margin-top: 100px;
                margin-bottom: 0;
            }

            .hero-banner h1 {
                font-family: sans-serif;
                font-style: normal;
                font-weight: 800;
                font-size: 80px;
                color: #1A1A2C;
                margin-top: 40px;
                margin-bottom: 0;
            }

                .product-text{
                    color: #5E44FF;
                }

            .hero-banner h3 {
                font-family: sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                color: #1A1A2C;
                margin-top: 20px;
                margin-bottom: 40px;
            }

            .free-trial-button {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-family: sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                color: #FFFFFF;
                gap: 6px;
                width: 187px;
                height: 56px;
                background: #1A1A2C;
                border-radius: 35px;
            }